body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: white;
  margin: none;
  padding: none;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-left: 5%;
  padding-right: 5%;
  

}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin: none;
  padding: 10px;
}
.account-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button{
  width: 80px;
  height: 30px;
  border: none;
  background-color: blue;
  color: white;
  margin-top: 5px;
}
.balance-info{
  width: 30%;
  background-color: white;
  border-radius: 20px;
  border-bottom: 5px;
  background-origin: padding-box;
  box-shadow: 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
  padding-bottom: 10px;
}
.deposit-page{
  width: 30%;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
  
}
.deposit-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: auto; */
}
.filled-form{
  width: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
}
.info-form{
  width: 60%;
  background-color: white;
  padding: 10px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
}
.review-order{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
  border-radius: 20px;
  margin-top: 70px;

}
.order-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: 20px;
  font-weight: bold;
  color: rgb(30, 30, 71);
}
.button{
  height: 30px;
  background-color: blue;
  width: 100px;
}

.deposit-form{
  display: flex;
  flex-direction: column;
  box-shadow: 10px  black;
  margin: auto;
  
}
.link-btn{
  margin: auto;
  width: 150px;
  border-radius: 5px;
  height: 30px;
  background-color: blue;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  text-align: center;

}

input{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(0, 187, 255);
  border-radius: 5px;
  height: 30px;
  width: 50%;
}
.action-on-order a{
  text-decoration: none;
  color: rgb(51, 214, 236);
}
.link a{
  text-decoration: none;
  color: white;
}
.balance-value{
  font-size: 24px;
  font-weight: bold;
  color: rgb(30, 30, 71);
}
.text{
  color: rgb(121, 119, 119);
  padding-top: 5px;
  padding-bottom: 5px;
}
.mini-text{
  font-size: 12px;
}
.light-bold-text{
  font-weight: bold;
  color: rgb(30, 30, 71);
  font-size: 16px;
}
.mini-input{
  border: 1px solid rgb(121, 119, 119) ;
  width: 70px;
  height: 20px;
  margin-left: 5px;
}
.payment-name{
  padding-bottom: 30px;
}
#card{
  width: 150px;
  height: 80px;
}
.padding{
  padding-top: 10px;
}
#logo{
  width: 100px;
  height: 80px;
}
.logout-btn{
  padding-top: 25px;
  padding-left: 20px;
  
}
.debit{
  color: red;
}
.credit{
  color: green;
}
hr{
  width: 500px;
  margin-top: 20px;
  margin-right: 80px;
}
.transaction-history{
  width: 60%;
  box-shadow: 1px 3px 3px 2px rgb(213, 211, 211);
  border-radius: 10px;
  padding: 20px;
}
td{
  text-align: center;
}
